<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
>
    <bean id="Fangmianmian" class="spring06Zuoye.Fangmianmian"> </bean>
    <bean id="HotTuiChang" class="spring06Zuoye.HotTuiChang"> </bean>
    <bean id="LuoshiFen" class="spring06Zuoye.LuoshiFen"> </bean>


    <bean id="Person" class="spring06Zuoye.Person">
        <!--<property name="eats" ref="Fangmianmian"></property>-->
        <!--<property name="eats" ref="HotTuiChang"></property>-->
        <property name="eats" ref="LuoshiFen"></property>
    </bean>

</beans>
