<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
    >
  <!-- 这个是一个xml 文件 ，也就是 容器，是用来管理很多容器的，
    何为管理容器，即  把对象诞生，使用 ，死亡，  依赖关系 -->
    <!--id,唯一  class 指向 类的全称  带上包名字-->
    <bean id="date" class="java.util.Date"></bean>
    <!--默认是单例模式，如何变为原型模式呢？  scope="prototype" 是原型-->
    <!--<bean id="pc" class="spring04IOCrongqi.Pc" scope="prototype"></bean>-->
    <!-- 测试对象的生命周期 需要 单例模式-->
    <bean id="pc" class="spring04IOCrongqi.Pc" scope="prototype" init-method="initShow" destroy-method="destroyObj"></bean>
        </beans>
